@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&display=swap');

/* Accordion collapsible courtesy of W3 Schools */

:root {
    --textcolor: black;
    --pagebg: white;
    --sectionbg: white;
    --links: #666666;
    --mono: #2F2F2F;
    --monobg: #eeeeee;
}

*, *::before, *::after { 
    box-sizing: border-box;
}

/* Specify palette for darkmode */
@media (prefers-color-scheme: dark) {
    :root {
        --textcolor: white;
        --pagebg: #24242C;
        --sectionbg: #34343C;
        --links: #B2B2B2;
        --mono: #ccc;
        --monobg: #3f3f3f;
    }
    p {
        letter-spacing: .025em;
        font-weight: 350;
    }
}

/*=================*/

html {
    background-color: var(--pagebg);
    height: 100%;
    width: 100%;
}

body {
    font-size: 18px;
    font-family: "Geomini", "Public Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    /**/
    line-height: 1.4;
    color: var(--textcolor);
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
}

.layout { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
    "top-shelf top-shelf top-shelf"
    "top-shelf top-shelf top-shelf"
    "dropdowns dropdowns dropdowns"
    "footer footer footer";
}

.dropdowns {
    grid-area: dropdowns;
    display: flex;
    margin-top: 5%;
    max-width: 80%;
    padding-left: 50px;
    align-self: center;
    justify-self: center;
}

.dropdowns > ul li {
    margin-bottom: 8px;
}

.footer { 
    grid-area: footer; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    max-width: fit-content;
}

.top-shelf { 
    display: grid;
    grid-template-columns: 0.9fr [fi] 0.5fr 1.6fr;
    grid-template-rows: 1.3fr 0.2fr 1.5fr;
    column-gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
    "top-corner top-corner picture"
    "blurb blurb picture"
    "blurb blurb picture";
    grid-area: top-shelf;
}

.top-corner {
    grid-area: top-corner;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6dvw;
    font-weight: bolder;
    min-width: 10%;
}

.blurb {
    grid-area: blurb;
    padding-left: 15px;
    font-size: 1.7dvw;
}

.picture {
    grid-area: picture;
    display: flex;
    align-self: center;
    justify-self: center;
    min-width: 35dvw;
    margin-top: 100px;
}

/*=================*/

img {
    max-width: 30%;
    border-radius: 30px;
}

footer.footer {
    color: var(--links);
    font-size: smaller;
    margin-top: 10%;
    text-decoration: 1.5px overline solid var(--links);
}

a {
    text-decoration-color: transparent;
    transition: 0.2s;
    color: var(--links);
}